{{set . "title" "Home"}}
{{template "header.html" .}}
<!--banner-->
<div class="banner-small" style="margin-bottom: 25px">
  <div class="container">
    <h2 class="white wow fadeInDown">{{ "Masraflarınızı yönetin, verimliliğinizi arttırın." }}</h2>
  </div>
  <h4 class="button">{{ "NEDEN AEXPENSE?" }}</h4>
</div>
<!--main-->
<div class="main">
  <div class="white-content">
    <div class="container">
      <!--row-->
      <div class="row overflow">
        <div class="image10 removeimage wow bounceInDown"></div>
        <div class="content" style="padding-left: 650px">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-bullseye"></span>
                        </span>
                    </span>
          <h1 class="blue" style="margin-top: 10px">{{ "welcome_why_automation_head" }}</h1>
          <p class="gray">{{ "welcome_why_automation_message" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="graybg">
    <div class="container">
      <!--row-->
      <div class="row">
        <div class="image11 removeimage wow fadeInRight "></div>
        <div class="content" style="width: 600px;padding: 100px 0">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-binoculars"></span>
                        </span>
                    </span>
          <h1 class="blue">{{ "welcome_why_visibility_head" }}</h1>
          <p>{{ "welcome_why_visibility_message" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="white-content">
    <div class="container">
      <!--row-->
      <div class="row overflow">
        <div class="image12 removeimage wow bounceInDown"></div>
        <div class="content" style="padding-left: 680px">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-flag"></span>
                        </span>
                    </span>
          <h1 class="blue" style="margin-top: 10px">{{ "welcome_why_control_head" }}</h1>
          <p class="gray">{{ "welcome_why_control_message" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="graybg">
    <div class="container">
      <!--row-->
      <div class="row">
        <div class="image13 removeimage wow fadeInRight "></div>
        <div class="content" style="width: 600px;padding: 100px 0">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-life-ring"></span>
                        </span>
                    </span>
          <h1 class="blue">{{ "welcome_why_know_head" }}</h1>
          <p>{{ "welcome_why_know_message" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "footer.html" .}}