<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Sample</title>
  <script src="/public/js/vue.js"></script>
</head>
<body>
<div id="app">
  <input type="text" v-on:input="changeTitle">
  <p v-once>{{`{{title}}`}}</p>
  <span>{{`{{sayHello()}}`}}</span>
  <a v-bind:href = "googlelink">google</a>
  <a v-bind:href="b1DigitalLine">b1 digital</a>
  <hr>
  <span v-html="finishedLink"></span>
  <br>
  <p>{{`{{ counter }}`}}</p>
  <button v-on:click="increase(2, $event)">Add</button>

  <p v-on:mousemove="updateCoordinates">Coordinated : {{`{{ X }}`}} / {{`{{ Y }}`}}</p> - <span v-on:mousemove.stop>STOP MOUSE</span>

  <input type="text" @keyup.enter.67 = "alertMe">

  <p @click="show = !show">You can see me</p>

  <p v-if="show">Hello</p>
  <p v-else>Do you se me</p>
  <button @click="show = !show">Switch</button>
</div>


<script>
  new Vue({
    el: '#app',
    data: {
      title: 'Hello from Vue',
      googlelink: 'http://www.google.com',
      b1DigitalLine: 'http://www.b1digital.com',
      finishedLink : '<a href="index.html">bidi</a>',
      counter : 0,
      X : 0,
      Y : 0,
      show: true
    },
    methods: {
      changeTitle: function (event) {
        this.title = event.target.value;
      },
      sayHello: function () {
        this.title = "Hello";
        return this.title + " where are you from?"
      },
      increase: function (step, event) {
        this.counter += step;
      },
      updateCoordinates: function (e) {
        this.X = e.clientX;
        this.Y = e.clientY;
      },
      alertMe: function () {
        alert("Alert!")
      }
    }
  });


</script>
</body>
</html>