{{set . "title" "Home"}}
{{template "header.html" .}}
<!--banner-->
<div class="banner-small">
  <div class="container">
    <h2 class="white wow fadeInDown">Take control of your company’s expenses. Begin your free trial today, no credit
      card needed.</h2>
  </div>
  <h4 class="button">{{ "FİYATLANDIRMA" }}</h4>
</div>
<!--main-->
<div class="main">
  <div class="container">
    <!--paketler-->
    <div class="packages">
      <ul class="wow fadeInLeft">
        <li>
          <h2 class="blue">Starter Edition</h2>
        </li>
        <li>
          <p>
            Quick and simple for startups,
            non-profits, churches, and
            student groups.
          </p>
        </li>
        <li style="background-color: #f8f8f8">
          <div class="price">
            <i class="fa fa-turkish-lira gray"></i>24<sup>99</sup> <sub class="gray">aylık</sub>
          </div>
        </li>
        <li>
          <span>Unlimited SmartScans</span>
        </li>
        <li>
          <span>Basic expense approval</span>
        </li>
        <li>
          <span> Reimburse online</span>
        </li>
        <li>
          <span>Sync with QuickBooks and Xero</span>
        </li>
        <li style="background-color: #f8f8f8">
          <a href="#" class="button">KAYIT OL</a>
        </li>
      </ul>
      <ul class="wow fadeInUp">
        <li>
          <h2 class="blue">Platinium Edition</h2>
        </li>
        <li>
          <p>
            Quick and simple for startups,
            non-profits, churches, and
            student groups.
          </p>
        </li>
        <li style="background-color: #f8f8f8">
          <div class="price">
            <i class="fa fa-turkish-lira gray"></i>219<sup>99</sup> <sub class="gray">aylık</sub>
          </div>
        </li>
        <li>
          <span>Unlimited SmartScans</span>
        </li>
        <li>
          <span>Basic expense approval</span>
        </li>
        <li>
          <span> Reimburse online</span>
        </li>
        <li>
          <span>Sync with QuickBooks and Xero</span>
        </li>
        <li style="background-color: #f8f8f8">
          <a href="#" class="button">KAYIT OL</a>
        </li>
      </ul>
      <ul class="wow fadeInUpBig">
        <li>
          <h2 class="blue">Starter Edition</h2>
        </li>
        <li>
          <p>
            Quick and simple for startups,
            non-profits, churches, and
            student groups.
          </p>
        </li>
        <li style="background-color: #f8f8f8">
          <div class="price">
            <i class="fa fa-turkish-lira gray"></i>24<sup>99</sup> <sub class="gray">aylık</sub>
          </div>
        </li>
        <li>
          <span>Unlimited SmartScans</span>
        </li>
        <li>
          <span>Basic expense approval</span>
        </li>
        <li>
          <span> Reimburse online</span>
        </li>
        <li>
          <span>Sync with QuickBooks and Xero</span>
        </li>
        <li style="background-color: #f8f8f8">
          <a href="#" class="button">KAYIT OL</a>
        </li>
      </ul>
      <ul class="wow fadeInUp">
        <li>
          <h2 class="blue">Starter Edition</h2>
        </li>
        <li>
          <p>
            Quick and simple for startups,
            non-profits, churches, and
            student groups.
          </p>
        </li>
        <li style="background-color: #f8f8f8">
          <div class="price">
            <i class="fa fa-turkish-lira gray"></i>24<sup>99</sup> <sub class="gray">aylık</sub>
          </div>
        </li>
        <li>
          <span>Unlimited SmartScans</span>
        </li>
        <li>
          <span>Basic expense approval</span>
        </li>
        <li>
          <span> Reimburse online</span>
        </li>
        <li>
          <span>Sync with QuickBooks and Xero</span>
        </li>
        <li style="background-color: #f8f8f8">
          <a href="#" class="button">KAYIT OL</a>
        </li>
      </ul>
      <ul class="wow fadeInRight">
        <li>
          <h2 class="blue">Starter Edition</h2>
        </li>
        <li>
          <p>
            Quick and simple for startups,
            non-profits, churches, and
            student groups.
          </p>
        </li>
        <li style="background-color: #f8f8f8">
          <div class="price">
            <i class="fa fa-turkish-lira gray"></i>24<sup>99</sup> <sub class="gray">aylık</sub>
          </div>
        </li>
        <li>
          <span>Unlimited SmartScans</span>
        </li>
        <li>
          <span>Basic expense approval</span>
        </li>
        <li>
          <span> Reimburse online</span>
        </li>
        <li>
          <span>Sync with QuickBooks and Xero</span>
        </li>
        <li style="background-color: #f8f8f8">
          <a href="#" class="button">KAYIT OL</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{template "footer.html" .}}