{{define "content"}}
<!--banner-->
<div class="banner-small">
    <div class="container">
        <h2 class="white wow fadeInDown">{{ "aExpense çalışanlarınız için masraf raporlamayı, sizin için onay süreçlerini kolaylaştırır."  }}</h2>
    </div>
    <h4 class="button">{{ "TUR"  }}</h4>
</div>
<!--main-->
<div class="main">
    <div class="container">
        <div class="inner">
            <div class="row">
              <div class="big-image wow zoomIn">
                  <img src="welcome/assets/images/image5.jpg" alt=""/>
              </div>
            </div>
            <div class="row">
                <div class="content">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-list-alt"></span>
                        </span>
                    </span>
                    <h1 class="blue" style="margin-top: 10px">{{ "welcome_tour_dashboard_head"  }}</h1>
                    <span class="info green">{{ "welcome_tour_dashboard_title"  }}</span>
                    <ul class="style2 half">
                        <li>
                            <span>{{ "welcome_tour_dashboard_item_1"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_dashboard_item_2"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_dashboard_item_3"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_dashboard_item_4"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_dashboard_item_5"  }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="graybg">
        <div class="container">
            <!--row-->
            <div class="row ">
                <div class="image6 removeimage wow fadeInRight "></div>
                <div class="content">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-crosshairs"></span>
                        </span>
                    </span>
                    <h1 class="blue" style="margin-top: 10px">{{ "welcome_tour_expense_entry_head"  }}</h1>
                    <span class="info green">{{ "welcome_tour_expense_entry_title"  }}</span>
                    <ul class="style3">
                        <li>
                            <span>{{ "welcome_tour_expense_entry_item_1"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_expense_entry_item_2"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_expense_entry_item_3"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_expense_entry_item_4"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_expense_entry_item_5"  }}</span>
                        </li>
                        <li>
                            <span>{{ "welcome_tour_expense_entry_item_6"  }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blue-content">
        <div class="wrapper">
            <div class="bg"></div>
            <div class="container">
                <!--row-->
                <div class="row ">
                    <div class="content">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-flag-checkered"></span>
                        </span>
                    </span>
                        <h1 class="white" style="margin-top: 10px">{{ "welcome_tour_expense_approvals_head"  }}</h1>
                        <span class="info lightblue">{{ "welcome_tour_expense_approvals_title"  }}</span>
                        <ul class="style2 white green half">
                            <li>
                                <span>{{ "welcome_tour_expense_approvals_item_1"  }}</span>
                            </li>
                            <li>
                                <span>{{ "welcome_tour_expense_approvals_item_2"  }}</span>
                            </li>
                            <li>
                                <span>{{ "welcome_tour_expense_approvals_item_3"  }}</span>
                            </li>
                            <li>
                                <span>{{ "welcome_tour_expense_approvals_item_4"  }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-content">
       <div class="container">
           <!--row-->
           <div class="row ">
               <div class="image7 removeimage wow slideInRight"></div>
               <div class="content">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-file-text"></span>
                        </span>
                    </span>
                   <h1 class="blue" style="margin-top: 10px">{{ "welcome_tour_analysis_and_reporting_head"  }}</h1>
                   <span class="info green">{{ "welcome_tour_analysis_and_reporting_title"  }}</span>
                   <ul class="style2 ">
                       <li>
                           <span>{{ "welcome_tour_analysis_and_reporting_item_1"  }}</span>
                       </li>
                       <li>
                           <span>{{ "welcome_tour_analysis_and_reporting_item_2"  }}</span>
                       </li>
                       <li>
                           <span>{{ "welcome_tour_analysis_and_reporting_item_3"  }}</span>
                       </li>
                       <li>
                           <span>{{ "welcome_tour_analysis_and_reporting_item_4"  }}</span>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
    </div>
    <div class="graybg" style="padding: 0">
        <div class="bg"></div>
        <div class="wrapper">
            <div class="container">
                <!--row-->
                <div class="row ">
                    <div class="content" style="padding-left:650px;padding-top: 40px;padding-bottom:40px;">
                     <span class="icon green">
                        <span class="image-wrap">
                            <span class="fa fa-life-ring"></span>
                        </span>
                    </span>
                        <h1 class="blue" style="margin-top: 10px">{{ "welcome_tour_analysis_and_management_head"  }}</h1>
                        <span class="info green">{{ "welcome_tour_analysis_and_management_title"  }}</span>
                        <ul class="style3">
                            <li>
                                <span>{{ "welcome_tour_analysis_and_management_item_1"  }}</span>
                            </li>
                            <li>
                                <span>{{ "welcome_tour_analysis_and_management_item_2"  }}</span>
                            </li>
                            <li>
                                <span>{{ "welcome_tour_analysis_and_management_item_3"  }}</span>
                            </li>
                            <li>
                                <span>{{ "welcome_tour_analysis_and_management_item_4"  }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
