{{set . "title" "Home"}}
{{template "header.html" .}}
<!--banner-->
<div class="banner-small">
  <div class="container">
    <h2 class="white wow fadeInDown">{{msg . "A better expense management with aExpense at all times, everywhere…" }}</h2>
  </div>
  <h4 class="button">{{msg . "Us" }}</h4>
</div>
<!--main-->
<div class="main" style="padding: 100px 0">
  <div class="container">
    <div class="row">
      <div class="image9 removeimage wow zoomIn"></div>
      <div class="content" style="padding-left:400px;">
        <h1 class="blue">{{msg . "welcome_us_greetings_head" }}</h1>
        <span class="info green">{{msg . "welcome_us_greetings_title"  }}</span>
        <p style="color: #727272">{{msg .  "welcome_us_greetings_message" }}</p>
      </div>
    </div>
  </div>
</div>
{{template "footer.html" .}}