<div class="clear"></div>
<!--footer-->
<div class="footer">
  <div class="container">
    <!--logo-->
    <div class="logo">
      <a href="#">
        <img src="/public/welcome/assets/images/logo.png" alt=""/>
      </a>
    </div>
    <div class="copyright">
      © Copyright 2015. aExpense. All Rights Reserved.
    </div>
    <ul class="social">
      <li>
        <a href="#" class="fa fa-facebook-f"></a>
      </li>
      <li>
        <a href="#" class="fa fa-twitter"></a>
      </li>
      <li>
        <a href="#" class="fa fa-youtube"></a>
      </li>
      <li>
        <a href="#" class="fa fa-instagram"></a>
      </li>
    </ul>
    <div class="clear"></div>
    <div class="border">
      <div class="blue"></div>
      <div class="green"></div>
    </div>
  </div>
</div>

{{if .Env.Prod}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33617425-2', 'auto');
  ga('send', 'pageview');
</script>
{{end}}
</body>
</html>