<!doctype html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/public/assets/img/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/public/assets/img/favicon180.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <title>{{.Title}}</title>

  <!--styles-->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin,latin-ext">

  <!-- build:css welcome/styles.css -->
  <link rel="stylesheet" href="/public/welcome/assets/toastr.min.css"/>
  <link rel="stylesheet" href="/public/welcome/assets/three-quarters.css"/>
  <link rel="stylesheet" href="/public/welcome/assets/scripts/fontawesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/public/welcome/assets/scripts/animate.css"/>
  <link rel="stylesheet" href="/public/welcome/assets/styles/main.css"/>
  <!-- endbuild -->

  <!--scripts-->
  <!-- build:js welcome/scripts.js -->
  <script type="text/javascript" src="/public/welcome/assets/scripts/jquery.js"></script>
  <script type="text/javascript" src="/public/welcome/assets/scripts/wow.min.js"></script>
  <script type="text/javascript" src="/public/welcome/assets/toastr.min.js"></script>
  <script type="text/javascript" src="/public/welcome/assets/scripts/main.js"></script>
  <!-- endbuild -->

</head>
<body>
{{if .PromotedLang}}
<div class="lang-note">
  {{if eq .PromotedLang "tr"}}
  <div class="text">aExpense'i <strong>Türkçe</strong> görüntülemek ister misiniz?</div>
  <div class="lang-button"><a href="/SetLang_EN">{{ "Hayır"  }}</a></div>
  <div class="lang-button"><a href="/SetLang_TR">{{ "Evet"  }}</a></div>
  {{end}}
</div>
{{end}}

<!--header-->
<div class="header index ">
  <div class="container">
    <!--logo-->
    <div class="logo">
      <a href="/">
        <img src="/public/welcome/assets/images/logo-white.png" alt=""/>
      </a>
    </div>
    <!--toggle-bar-->
    <div class="toggle-bar">
      <a href="javascript:void(0)">
        <i class="fa fa-bars"></i> Menü
      </a>
    </div>
    <!--menu-->
    <ul class="menu">
      <li>
        <a href="/">{{msg . "Main Page"  }}</a>
      </li>
      <li>
        <a href="/Tour">{{msg . "Tour"  }}</a>
      </li>
      <li>
        <a href="/Why">{{msg . "Why"  }}?</a>
      </li>
      <li>
        <a href="/Pricing">{{msg . "Pricing"  }}</a>
      </li>
      <li>
        <a href="/Us">{{msg . "Us"  }}</a>
      </li>
      <li>
        <a href="/Contact">{{msg . "Contact"  }}</a>
      </li>
    </ul>
    <div class="right">
      <a class="button login" href="/Login">{{msg . "Login"  }}</a>
      <span class="button lang" href="/login"><i class="fa fa-globe"></i></span>
      <ul class="lang-menu">
        <li><a href="/SetLang_TR">{{msg . "Turkish"  }}</a></li>
        <li><a href="/SetLang_EN">{{msg . "English"  }}</a></li>
      </ul>
    </div>
  </div>
</div>